- name: Ensure forgejo is running
  community.docker.docker_compose_v2:
    project_name: forgejo
    definition:
      networks:
        forgejo:
          external: false
      services:
        db:
          image: docker.io/library/postgres:14
          restart: always
          environment:
            - POSTGRES_USER=forgejo
            - "POSTGRES_PASSWORD={{ forgejo_postgres_password }}"
            - POSTGRES_DB=forgejo
          networks:
            - forgejo
          volumes:
            - /tank/data/forgejo_db:/var/lib/postgresql/data
        server:
          image: codeberg.org/forgejo/forgejo:13
          container_name: forgejo
          environment:
            - USER_UID=1000
            - USER_GID=1000
            - FORGEJO____APP_NAME=instantOSForgejo
            - FORGEJO____DISABLE_REGISTRATION=true
            - DISABLE_REGISTRATION=true
            - FORGEJO__database__DB_TYPE=postgres
            - FORGEJO__database__HOST=db:5432
            - FORGEJO__database__NAME=forgejo
            - FORGEJO__database__USER=forgejo
            - "FORGEJO__database__PASSWD={{ forgejo_postgres_password }}"
            - "FORGEJO_RUNNER_REGISTRATION_TOKEN={{ forgejo_runner_registration_token }}"
          restart: always
          networks:
            - forgejo
          volumes:
            - /tank/data/forgejo:/data
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
          ports:
            - '3000:3000'
            - '222:22'
- name: Add forgejo to caddy
  ansible.builtin.copy:
    dest: /etc/caddy/conf.d/forgejo.caddy
    content: |
      git.instantos.io {
      reverse_proxy localhost:3000
      }
