---
- name: Update apt cache
  become: true
  apt:
    update_cache: yes

- name: Upgrade packages
  become: true
  apt:
    upgrade: "dist"
    autoremove: yes
    autoclean: yes
- name: Install various packages
  ansible.builtin.apt:
    name:
      - nload
      - net-tools
      - htop
      - ncdu
      - tree
      - neovim
      - mosh
      - zsh
      - curl
      - cron
      - fzf
      - wget
- name: ensure ubuntu user exists
  user:
    name: paperbenni
    state: present
    groups: sudo
    append: yes
- name: Ensure ssh key is authorized
  authorized_key:
    user: ubuntu
    state: present
    key: "{{ lookup('file', '/home/benjamin/.ssh/id_rsa.pub') }}"
- name: Install yazi
  community.general.snap:
    name: yazi
    classic: true

- name: Create monthly Docker image prune cronjob
  cron:
    name: "Docker image prune"
    job: "docker image prune --all -f"
    month: "*"
    day: "1"
    hour: "2"
    minute: "0"
    user: root
    cron_file: docker-image-prune
- name: Create weekly Docker volume prune cronjob
  cron:
    name: "Docker volume prune"
    job: "docker volume prune -f"
    weekday: "0"
    hour: "3"
    minute: "0"
    user: root
    cron_file: docker-volume-prune
- name: Create weekly Docker container prune cronjob
  cron:
    name: "Docker container prune"
    job: "docker container prune -f"
    weekday: "0"
    hour: "3"
    minute: "30"
    user: root
    cron_file: docker-container-prune
