[Unit]
Description=mumble music bot

[Service]
WorkingDirectory=/opt/programs/botamusique
ExecStart=/opt/programs/botamusique/venv/bin/python mumbleBot.py --config configuration.ini

[Install]
WantedBy=default.target
