[Unit]
Description=matterbridge chat bridge

[Service]
WorkingDirectory=/opt/programs/botamusique
ExecStart=./venv/bin/python mumbleBot.py --config configuration.ini

[Install]
WantedBy=default.target
